.App {
  font-family: sans-serif;
  text-align: center;
  color: azure;
}

.card {
  margin-top: 10px;
  max-width: 600px;
  background-color: #24404b;
}

form {
  text-align: right;
  color: #154360;
  padding: 10px 30px;
}

input {
  margin: 0 auto;
  border-radius: 30px;
  border: 0;
  color: #154360;
  background-color: white;
  border-color: #ecf0f1;
  transition: 300ms ease-in-out;
}

input:hover {
  background-color: #eafaf1;
}

button {
  display: inline;
  margin-top: 20px;
  font-size: small;
  border-radius: 30px;
  border: 0;
  color: #154360;
  background-color: #eafaf1;
  border-color: #ecf0f1;
  transition: 300ms ease-in-out;
}

li {
  text-align: left;
  list-style: none;
  left: 0;
}

h2 {
  display: inline;
  margin-bottom: 0;
}

.countrid {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 0;
}

h5 {
  text-transform: capitalize;
}

.temperatureSet {
  margin-bottom: 20px;
}

.degrees {
  position: relative;
  top: 4px;
  font-size: 36px;
}

.typeDegrees {
  position: relative;
  top: -11px;
}

a {
  color: #f9e79f;
  text-decoration: none;
}

a:hover {
  color: #fad7a0;
}

.temperatureSet {
  margin-bottom: 20px;
}

.forecastIcon {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 90%;
}

.hour {
  margin-bottom: 10;
  margin-top: 0px;
  font-size: 11px;
}

footer {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 25px;
}

.credits {
  font-size: 10px;
}
